* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#all {
  padding: 10px 20px;
  max-width: 640px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  color: #18181a;
}

input[type='text'] {
  background: #fff;
  color: #18181a;
  border: solid 1px #b0bac5;
  border-radius: 3px;
  padding: 5px 0;
  font-size: 1em;
}

header {
  padding-bottom: 30px;
  border-width: 60px;
}

header .logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

header .logo img {
  max-width: 115px;
}

header .logo a {
  text-decoration: none;
  color: #222;
}

header .info-title {
  margin-top: 5vh;
  margin-bottom: 2vh;
}

header .info-title h2 {
  margin-bottom: 3vh;
}

header .info-title h2 a::after {
  padding-left: 10px;
  transform: rotate(20deg);
}

header main {
  padding: 15px 20px;
  background-color: #fff;
  box-shadow: 0 0 64px 0 #c3c8cd;
  border-radius: 5px;
  border: 2px solid #c3c8cd;
}

header main .calc-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

header main .calc-title span {
  width: 40%;
  white-space: nowrap;
}

header main .calc-title .range_field {
  max-width: 125px;
  width: 40%;
  text-align: right;
  padding-right: 5px;
}

header main .js-slider {
  width: 100%;
}

header main .js-slider--sum {
  margin-bottom: 25px;
}

header main .info-zaym {
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 15px 0;
  border-top: 2px dashed #e3e6e8;
  border-bottom: 2px dashed #e3e6e8;
}

header main .info-zaym h4 {
  color: #3bb38e;
  font-size: 2em;
  font-weight: normal;
}

header main .info-zaym .info-sum {
  text-align: left;
}

header main .info-zaym .info-back {
  text-align: right;
}

header main .info-zaym .info-back h4 {
  color: #b8bdc3;
}

header main .ab_button {
  margin: 15px auto;
}

header .info {
  margin-top: 10vh;
}

header .info ul {
  list-style: none;
}

header .info ul li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

header .info ul li i {
  background: url(../img/sprites/header-info.png) no-repeat;
  display: block;
  margin-right: 15px;
  margin-bottom: 20px;
}

header .info ul li i.sp_info-time {
  width: 65px;
  height: 60px;
  background-position: -5px -5px;
}

header .info ul li i.sp_info-anywhere {
  width: 65px;
  height: 60px;
  background-position: -75px -5px;
}

header .info ul li i.sp_info-online {
  width: 65px;
  height: 57px;
  background-position: -5px -75px;
}

section.how-to-money .block-slider {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

section.how-to-money .block-slider .content-slider figure .back-img {
  height: 50vh;
  max-height: 160px;
  background: url(../img/how-slide-1.png) no-repeat center;
  background-size: contain;
}

section.how-to-money .block-slider .content-slider figure .ab_link {
  line-height: 5vh;
}

section.how-to-money .block-slider .content-slider .count-slide {
  margin-bottom: 2vh;
}

section.how-to-money .block-slider .content-slider .count-slide i.ico-slide {
  display: inline-block;
  font-size: .7em;
  border-radius: 50%;
  background-color: #e3e6e8;
  color: #fff;
  width: 10px;
  height: 10px;
  margin: 2px 10px;
  font-style: normal;
  cursor: pointer;
}

section.how-to-money .block-slider .content-slider .count-slide i.ico-slide--active {
  content: attr(data-count);
  background-color: #18a4d2;
  padding: 5px 10px;
  font-size: 1em;
  width: auto;
  height: auto;
}

section.about nav {
  max-width: 320px;
  margin-top: 2vh;
}

section.about nav a.btn-about {
  cursor: pointer;
  background-color: #fff;
  padding: 5px 10px;
  border: 2px solid #18a4d2;
}

section.about nav a.btn-about--active {
  color: #fff;
  background-color: #18a4d2;
}

section.about nav a.btn-about:first-child {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

section.about nav a.btn-about:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.ab_link {
  color: #18a4d2;
  text-decoration: none;
  border-bottom: 1px dashed #18a4d2;
  font-weight: bold;
}

.ab_button {
  background: #42b28f;
  border: 0;
  border-bottom: 1px solid #1f7a5d;
  text-shadow: 0 -1px #196647;
  padding: 20px 25px;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 -1px #3879a2;
  color: #ffffff;
  cursor: pointer;
  border-radius: 3px;
  line-height: 11px;
  white-space: nowrap;
}

.ab_center {
  text-align: center;
  margin: 0 auto;
}

.separator {
  margin: 2.5vh 0;
  border-top: 2px dashed #b8bdc3;
}

.js-slider {
  outline: none !important;
  outline: none;
  padding: 0;
  width: 50%;
  height: 6px;
  background-color: #e3e6e8;
  background-image: linear-gradient(#3bb38e, #3bb38e);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 25px;
}
