* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
}

#all {
  padding-top: 15px;
  max-width: 640px;
  margin: 0 auto;
  color: #18181a;
}

.overlay {
  pointer-events: none;
}

input[type='text'], input[type='tel'] {
  background: #fff;
  color: #18181a;
  border: solid 1px #b0bac5;
  border-radius: 3px;
  padding: 5px 0;
  font-size: 1em;
}

input[type='text']:focus, input[type='tel']:focus {
  -webkit-appearance: none;
  outline: none;
  border: 1px solid #18a4d2;
}

header {
  padding-bottom: 30px;
}

header .logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

header .logo img {
  max-width: 115px;
}

header .logo a {
  text-decoration: none;
  color: #222;
}

header .info-title {
  margin-top: 5vh;
  margin-bottom: 2vh;
}

header .info-title h2 {
  margin-bottom: 3vh;
}

header .info-title h2 .ico-dropdown {
  position: relative;
  top: 10px;
  left: 5px;
  background: url(../img/ic_dropdown.png) no-repeat;
  background-size: 60%;
  width: 2px;
  height: 2px;
  padding: 0 12px;
}

header main {
  padding: 15px 20px;
  background-color: #fff;
  box-shadow: 0 0 64px 0 #eaeaea, 0 25px 32px 0 #f4f4f4;
  border-radius: 5px;
  border: 2px solid #c3c8cd;
}

header main .calc-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

header main .calc-title span {
  width: 40%;
  font-weight: bold;
  white-space: nowrap;
}

header main .calc-title .range_field {
  max-width: 125px;
  width: 40%;
  text-align: right;
  padding-right: 5px;
}

header main .js-slider {
  width: 100%;
}

header main .js-slider--sum {
  margin-bottom: 25px;
}

header main .info-zaym {
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 15px 0;
  border-top: 2px dashed #e3e6e8;
  border-bottom: 2px dashed #e3e6e8;
}

header main .info-zaym h4 {
  color: #3bb38e;
  font-size: 2em;
  font-weight: normal;
}

header main .info-zaym .info-sum {
  text-align: left;
}

header main .info-zaym .info-back {
  text-align: right;
}

header main .info-zaym .info-back h4 {
  color: #b8bdc3;
}

header main .ab_button {
  margin: 15px auto;
}

header .info {
  margin-top: 27px;
  padding-top: 25px;
}

header .info ul {
  list-style: none;
}

header .info ul li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

header .info ul li i {
  background: url(../img/sprites/header-info.png) no-repeat;
  display: block;
  margin-right: 15px;
  margin-bottom: 20px;
}

header .info ul li i.sp_info-time {
  width: 65px;
  height: 60px;
  background-position: -5px -5px;
}

header .info ul li i.sp_info-anywhere {
  width: 65px;
  height: 60px;
  background-position: -75px -5px;
}

header .info ul li i.sp_info-online {
  width: 65px;
  height: 57px;
  background-position: -5px -75px;
}

section.how-to-money .ab_slider figure .rev-img img {
  width: 160px;
}

section.how-to-money .ab_slider figure .ab_link {
  margin: 20px auto;
}

section.how-to-money .ab_slider figure .count-slide {
  margin-bottom: 2vh;
}

section.how-to-money .ab_slider figure .count-slide i.ico-slide--active {
  content: attr(data-count);
  padding: 5px 10px;
  font-size: 1em;
  width: auto;
  height: auto;
}

section.about {
  margin-bottom: 5vh;
}

section.about nav {
  max-width: 720px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 40px auto;
}

section.about nav a.btn-about {
  cursor: pointer;
  min-width: 90px;
  background-color: #fff;
  color: #18a4d2;
  font-weight: bold;
  padding: 10px 10px;
  border: 1px solid #18a4d2;
}

section.about nav a.btn-about--active {
  color: #fff;
  background-color: #18a4d2;
}

section.about nav a.btn-about:first-child {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

section.about nav a.btn-about:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

section.about .js-change-content {
  display: none;
}

section.about .js-change-content--active {
  display: block;
}

section.about .js-change-content p {
  margin-bottom: 2vh;
}

section.about .js-change-content ul {
  list-style: none;
}

section.about .js-change-content ul li {
  margin: 2vh 0;
  line-height: 20px;
}

section.about .js-change-content ul li::before {
  float: left;
  content: '';
  position: relative;
  top: 4px;
  display: block;
  margin-right: 10px;
  width: 10px;
  height: 10px;
  background-color: #18a4d2;
  border-radius: 50%;
}

section.is-working {
  background-color: #f7fafc;
  padding: 20px 10px;
}

section.is-working .info {
  margin-bottom: 4vh;
}

section.is-working .info p {
  margin-top: 2vh;
}

section.is-working .info p span {
  color: #fff;
  font-weight: bold;
  padding: 5px 15px 5px 0;
  background: url(../img/marker-text.png) no-repeat;
  white-space: nowrap;
  background-size: cover;
}

section.is-working .ab_slider .arrow {
  position: relative;
  bottom: 70px;
}

section.is-working .ab_slider figure .rev-img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

section.is-working .ab_slider figure .rev-commnet {
  margin-top: 20px;
}

section.zaym {
  background: #3bb38e url(../img/zaym-bg.png);
  padding: 15px 5px 25px 5px;
  color: #fff;
  line-height: 50px;
}

section.zaym h2 {
  margin-bottom: -2vh;
}

section.zaym .ab_button {
  color: #3bb38e;
  background-color: #fff;
  text-shadow: none;
  border-bottom: 3px solid #e3e6e8;
}

section.zaym .ab_button:hover {
  background-color: #e6e6e6;
}

footer {
  margin-top: 25px;
}

footer h2 {
  margin: 5px 0;
}

footer .info {
  color: #43474a;
}

footer .info b {
  white-space: nowrap;
  font-size: .9em;
  border-bottom: 2px dashed #43474a;
}

footer .info p {
  margin-top: 20px;
}

footer .info ul {
  margin: 20px 0;
  list-style: none;
}

footer .info ul li {
  margin: 15px 0;
}

footer .info ul li .ab_link {
  white-space: normal;
}

footer section.block-feedback {
  padding: 10px 5px;
  background-color: #f7fafc;
}

footer section.block-feedback h3 {
  white-space: nowrap;
  font-size: 1.4em;
  margin-bottom: 25px;
}

footer section.block-feedback h3::before {
  content: '';
  display: inline-block;
  position: relative;
  top: 10px;
  margin-right: 15px;
  background: url(../img/ico-feeback.png) no-repeat;
  background-size: contain;
  width: 40px;
  height: 30px;
}

footer section.block-feedback main {
  color: #43474a;
}

footer section.block-feedback main p {
  word-spacing: 6px;
}

footer section.block-feedback main .feedback {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 25px;
}

footer section.block-feedback main .feedback a.btn_feedbadk {
  font-size: .8em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  max-width: 140px;
  max-height: 40px;
  color: #63676a;
  padding: 10px 15px;
  font-weight: bold;
  white-space: nowrap;
  background-color: #e3e6e8;
  border-radius: 4px;
  border-bottom: 4px solid #c7cdd1;
  cursor: pointer;
}

footer section.block-feedback main .feedback a.btn_feedbadk img {
  min-width: 20px;
  min-height: 8px;
  height: 17px;
  margin-right: 7px;
}

footer section.block-feedback main .feedback .call {
  margin-left: 10px;
}

footer section.block-feedback main .feedback .call a.tel {
  color: #18a4d2;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

footer section.main-footer {
  padding: 15px 10px;
  color: #51657b;
  background-color: #2d3a4a;
}

footer section.main-footer .head-footer:after {
  content: "";
  display: table;
  clear: both;
}

footer section.main-footer .head-footer img {
  float: left;
  width: 20vw;
  height: 2vh;
  max-width: 190px;
  min-width: 160px;
  min-height: 17px;
}

footer section.main-footer .head-footer a.full-version {
  float: right;
  white-space: nowrap;
  font-size: .8em;
  margin-right: 15px;
  color: #51657b;
  font-weight: bold;
  text-decoration: underline;
}

footer section.main-footer .content h3 {
  font-weight: normal;
  margin: 15px 0;
}

.ab_link {
  color: #18a4d2;
  text-decoration: none;
  border-bottom: 1px dashed #18a4d2;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
}

.ab_button {
  background: #3bb38e;
  border: 0;
  border-bottom: 1px solid #1f7a5d;
  text-shadow: 0 -1px #3879a2;
  padding: 20px 25px;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 3px;
  line-height: 11px;
  white-space: nowrap;
}

.ab_button:hover {
  background: #59c8a6;
}

.ab_center {
  text-align: center;
  margin: 0 auto;
}

.ab_indent {
  padding: 0px 20px;
}

.separator {
  margin: 2.5vh auto;
  max-width: 90vw;
  border-top: 1.5px dashed #b8bdc3;
}

.js-slider {
  -webkit-appearance: none;
  background-color: #e3e6e8;
  background-image: linear-gradient(#3bb38e, #3bb38e);
  background-repeat: no-repeat;
  outline: none !important;
  padding: 0;
  width: 50%;
  height: 6px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 25px;
  box-shadow: none;
}

.js-slider--sum {
  background-size: 10% 100%;
}

.js-slider--period {
  background-size: 30% 100%;
}

.js-slider::-moz-range-track {
  background: transparent;
}

.js-slider::-moz-focus-outer {
  border: none;
}

.js-slider:focus {
  outline: none !important;
  border: none;
}

.js-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  top: 4px;
  box-shadow: 0px 2px 4px #e3e6e8;
  border: 0.5px solid #e3e6e8;
  height: 24px;
  width: 24px;
  border-radius: 49px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -8px;
}

.js-slider::-moz-range-thumb {
  position: relative;
  top: 4px;
  box-shadow: 0px 2px 4px #e3e6e8;
  border: 0.5px solid #e3e6e8;
  height: 24px;
  width: 24px;
  border-radius: 49px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -8px;
}

.ab_slider {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}

.ab_slider .arrow {
  cursor: pointer;
}

.ab_slider .arrow--right {
  transform: rotateY(180deg);
}

.ab_slider .ab_slide:not(.ab_slide--active) {
  display: none;
}

.ab_slider .count-slide {
  margin: 2vh auto;
}

.ab_slider .count-slide i.ico-slide {
  display: inline-block;
  font-size: .7em;
  border-radius: 50%;
  background-color: #e3e6e8;
  color: #fff;
  width: 10px;
  height: 10px;
  margin: 2px 10px;
  font-style: normal;
  cursor: pointer;
}

.ab_slider .count-slide i.ico-slide--active {
  background-color: #18a4d2;
}

.popup {
  margin: 20vh auto;
  height: 30%;
  min-height: 180px;
  position: fixed;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 85%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.7), 0 0 0 999em rgba(0, 0, 0, 0.5);
  max-width: 460px;
  background-color: #fff;
}

.popup input:focus, .popup select:focus {
  -webkit-appearance: none;
  outline: none;
  border: 1px solid #18a4d2;
}

.popup--method {
  max-height: 180px;
}

.popup--feedback {
  height: 40%;
  padding: 15px 20px;
  min-height: 420px;
}

.popup--feedback main form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.popup--feedback main form select {
  border: 1px solid #b0bac5;
  z-index: 9999;
  padding: 10px;
  margin: 25px 0;
  background-color: #fff;
  color: #ababab;
  border-radius: 3px;
  font-size: 1em;
}

.popup--feedback main form .js-phone, .popup--feedback main form .js-message {
  margin-bottom: 25px;
  font-size: 1.1em;
  padding: 7px;
}

.popup--feedback main form .js-message {
  resize: none;
  min-height: 120px;
  background: #fff;
  color: #18181a;
  border: solid 1px #b0bac5;
  border-radius: 3px;
  font-size: 1em;
}

.popup--feedback main form .ab_button {
  background-color: #18a4d2;
  max-width: 160px;
}

.popup .content i.ico-close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 10px;
  width: 10%;
  height: 11%;
  background: url(../img/btn_close.png) no-repeat;
  display: block;
  background-size: 45%;
}

.popup .content h2 {
  font-size: 1em;
}

.popup--method {
  padding: 15px 5px;
}

.popup--method main {
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.popup--method main .method {
  cursor: pointer;
  width: 100%;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 2px dotted #e3e6e8;
  color: #b8bdc3;
}

.popup--method main .method img {
  margin-bottom: 10px;
  width: 90%;
}

.popup--method main .method h3 {
  font-size: .9em;
}

.popup--method main .method--active {
  color: #18181a;
  pointer-events: none;
  border: 2px solid #18a4d2;
}
