body {
  background-color: #fff;
}

header {
  padding: 45px 0;
  height: 700px;
  background: url(../img/bg.png) no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  @include clearfix();
  .logo {
    width: 220px;
    height: 20px;
  }
  main {
    display: flex;
    justify-content: space-between;
    max-width: $max-width;
    .ico--calc {
      position: relative;
      left: 115px;
      bottom: 18px;
      width: 130px;
      height: 100px;
      background: url('../img/ico-calc.png') no-repeat;
    }
    .title {
      h1 {
        margin-top: 75px;
        margin-bottom: 25px;
      }
      .you-loan {
        margin: 15px 0;
        font-size: 1.3em;
        color: #fff;
        padding-left: 15px;
        background: url(../img/marker-text.png) no-repeat;
      }
      .ico-dropdown {
        display: inline-block;
        position: relative;
        left: 15px;
        top: 10px;
        width: 25px;
        height: 25px;
        background: url(../img/ic_dropdown.png) no-repeat;
      }
      > span {
        font-size: 1.3em;
        color: $text-gray;
      }
      .call {
        color: darken($text-gray, 5%);
        margin-top: 10px;
        line-height: 30px;
        .tel {
          color: $main-color;
          font-size: 2em;
        }
      }
    }
  }
  .calc {
    width: 460px;
    max-height: 490px;
    margin-top: 70px;
    background-color: #fff;
    border-radius: 10px;
    border: $main-color dashed 6px;
    box-shadow: 0 0 4em 0 darken($gray, 8%);
    padding: 50px 40px;
    .calc-title--period {
      margin-top: 25px;
    }
    .js-slider {
      width: 100%;
      margin-bottom: 15px;
    }
    .info-zaym {
      display: flex;
      margin-top: 25px;
      justify-content: space-between;
      padding: 15px 0;
      border-top: 2px dotted $gray;
      h4 {
        color: $accent-color;
        font-size: 1.8em;
        font-weight: normal;
        white-space: nowrap;
      }
      .info-sum {
        text-align: left;
      }
      .info-back {
        text-align: right;
        h4 {
          color: $gray;
        }
      }
    }
    .ab_button {
      margin: 15px auto;
    }
  }
}

#about {
  max-width: $max-width;
  color: $text-gray;
  h2 {
    font-size: 2em;
    color: $main-text;
  }
  .block_icons {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    > div {
      align-items: center;
      display: flex;
    }
    .ico-about {
      display: block;
      margin-right: 15px;
      background: url(../img/sprites/header-info.png) no-repeat;
      &--1 {
        width: 65px;
        height: 60px;
        background-position: -5px -5px;
      }
      &--2 {
        width: 65px;
        height: 60px;
        background-position: -75px -5px;
      }
      &--3 {
        width: 65px;
        height: 57px;
        background-position: -5px -75px;
      }
    }
  }
  .how-money {
    margin-top: 40px;
    .block-slides {
      margin-top: 40px;
      margin-bottom: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      > div {
        span {
          line-height: 25px;
        }
        a.ab_link {
          line-height: 35px;
        }
        .slide-img {
          display: block;
          margin-bottom: 25px;
          background: url(../img/about-sprites.png) no-repeat;
          &--1 {
            width: 150px;
            height: 150px;
            background-position: -15px -195px;
          }
          &--2 {
            width: 150px;
            height: 150px;
            background-position: -195px -15px;
          }
          &--3 {
            width: 150px;
            height: 150px;
            background-position: -15px -15px;
          }
        }
      }
    }
  }
  .why-we {
    margin-top: 60px;
    nav {
      display: flex;
      justify-content: space-around;
      margin: 40px auto;
      a.btn-about {
        text-align: center;
        cursor: pointer;
        background-color: #fff;
        color: $main-color;
        font-weight: bold;
        width: 195px;
        padding: 13px 25px;
        border-radius: 25px;
        border: 1px dotted $main-color;
        &:hover {
          transition: .3s ease-out;
          background-color: $bg-gray;
        }
        &--active {
          color: #fff;
          background-color: $main-color;
          pointer-events: none;
        }
      }
    }
    .js-change-content {
      display: none;
      height: 360px;
      &--active {
        display: block;
      }
      .title {
        letter-spacing: 1px;
        font-size: 1.5em;
        line-height: 35px;
        font-weight: 100;
      }
    }
    .main {
      display: flex;
      justify-content: space-around;
      margin-top: 80px;
      span {
        font-size: 1.05em;
        line-height: 25px;
      }
      .ab_link {
        line-height: 55px;
      }
      .content {
        &::after {
          position: relative;
          display: block;
          right: 35px;
          font-size: 120px;
          font-weight: bold;
          color: rgba($text-gray, .08);
        }
        &--1::after {
          content: '1';
        }
        &--2::after {
          content: '2';
        }
        &--3::after {
          content: '3';
        }
      }
    }
    #aboutTab-1 {
      .content--1::after {bottom: 210px;}
      .content--2::after {bottom: 155px;}
      .content--3::after {bottom: 155px;}
    }
    #aboutTab-2, #aboutTab-3 {
      .content {
        &--1, &--2, &--3 {
          &::after {bottom: 100px;}
        }
      }
    }
    #aboutTab-4 {
      .content--1::after {bottom: 140px;}
      .content--2::after {bottom: 115px;}
      .content--3::after {bottom: 115px;}
    }
  }
}

#get-money {
  color: $text-gray;
  background: url(../img/arrow-get.png) center 0 no-repeat,
          url(../img/zaym-bg.png) repeat fixed;
  padding-top: 53px;
  padding-bottom: 15px;
  h2 {
    font-size: 2em;
    font-weight: normal;
    color: #fff;
  }
  .ab_button {
    margin: 35px auto;
    background-color: #fff;
    color: $accent-color;
    text-shadow: none;
    border-bottom: 2px solid $gray;
    box-shadow: 0 5px 16px 0 darken($accent-color, 10%);
    &:hover {
      transition: .1s ease-out;
      background: darken(#fff, 5%);
      box-shadow: none;
    }
  }
}

#bonuses {
  color: $text-gray;
  max-width: $max-width;
  padding-top: 80px;
  padding-bottom: 30px;
  h2 {
    font-weight: 100;
  }
  .row-bonuses {
    display: flex;
    justify-content: space-around;
    &:first-child {
      margin-top: 40px;
    }
    &:last-child {
      margin-top: -25px;
      justify-content: space-around;
      > div {
        margin: 25px;
        &:first-child {
          margin-left: 216px;
        }
        &:last-child {
          margin-right: 178px;
        }
      }
    }
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      > span {
        position: relative;
        bottom: 25px;
      }
      .ico-bonus {
        background: url(../img/bonuses-sprites.png) no-repeat;
        display: block;
        width: 177px;
        height: 177px;
        &--1 {
          background-position: -10px -207px;
        }
        &--2 {
          background-position: -207px -207px;
        }
        &--3 {
          background-position: -10px -10px;
        }
        &--4 {
          background-position: -404px -10px;
        }
        &--5 {
          background-position: -207px -10px;
        }
      }
    }
  }
}

#is-working {
  padding-top: 80px;
  max-width: $max-width;
  > .ab_center--text {
    h2 {
      font-size: 2em;
      color: $main-text;
      margin-bottom: 30px;
    }
    .title {
      font-size: 1.9em;
      color: $text-gray;
    }
  }
  .info {
    margin-top: 75px;
    display: flex;
    justify-content: center;
    > div {
      width: 320px;
      min-height: 200px;
      background-color: $bg-gray;
      &:nth-child(2) {
        background-color: #f2f2f5;
        width: 360px;
      }
      .ico_is-working {
        display: block;
        background: url(../img/is-working_sprites.png);
        position: relative;
        left: 220px;
        top: 20px;
        width: 80px;
        height: 80px;
        &--1 {
          background-position: -15px -15px;
        }
        &--2 {
          left: 240px;
          background-position: -125px -15px;
        }
        &--3 {
          background-position: -15px -125px;
        }
      }
      .text {
        position: relative;
        margin-left: 40px;
        bottom: 15px;
        h4 {
          color: $main-color;
          font-size: 3em;
        }
        span {
          color: $text-gray;
          font-size: 1.2em;
        }
      }  
    }
  }
  .comments {
    margin-top: 70px;
    h2 {
      color: $text-gray;
      font-weight: normal;
      margin-bottom: 40px;
    }
    .row-comment {
      display: flex;
      justify-content: space-around;
      margin-bottom: 60px;
      .comment {
        width: 300px;
        color: $text-gray;
        img {
          border-radius: 50%;
          box-shadow: 0 12px 12px 0 $gray;
          margin-bottom: 15px;
        }
        .text {
          margin-left: 40px;
        }
      }
    }
    .js-row-comment {
      display: none;
      justify-content: space-between;
    }
    .update-comment {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 180px;
      color: darken($gray, 20%);
      cursor: pointer;
      &--active {
        display: none;
      }
      &:hover {
        span {
          transition: .3s ease-out;
          color: $text-gray;
        }
        .ico_update-comments {
          transition: .3s ease-out;
          background-color: $text-gray;
        }
      }
      .ico_update-comments {
        background-color: darken($gray, 20%);
        mask-image: url(../img/rotate.svg);
        -webkit-mask-image: url(../img/rotate.svg);
        display: block;
        margin-right: 5px;
        width: 25px;
        height: 25px;
        &--active {
          animation-name: rotate;
          animation-iteration-count: infinite;
          animation-duration: 3s;
        }
      }
      span {
        border-bottom: 1px dashed darken($gray, 20%);
      }
    }
  }
}

#you-get {
  background: url(../img/tiled_bg2.png) repeat fixed;
  margin-top: 80px;
  padding-top: 50px;
  height: 480px;
  h2 {
    color: $text-gray;
    font-weight: normal;
    margin-bottom: 40px;
  }
  .calc {
    width: 900px;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 10px;
    border: $main-color dashed 6px;
    box-shadow: 0 0 4em 0 darken($gray, 8%);
    padding: 50px 40px 20px 40px;
    @include clearfix();
    .block-calc {
      display: flex;
      justify-content: space-between;
      label[for='sum'] {
        width: 100%;
      }
      label[for='period'] {
        margin-left: 50px;
        width: 100%;
      }
      .info-zaym {
        display: none;
      }
      .js-slider {
        width: 100%;
        margin-bottom: 15px;
      }
    }
    .ab_center--text {
      width: 100%;
      margin: 25px 0;
      float: left;
    }
  }
}

#questions {
  margin-top: 80px;
  max-height: 580px;
  height: 580px;
  > h2.ab_center--text  {
    font-size: 2em;
    color: $main-text;
    margin-bottom: 30px;
  }
  main {
    nav {
      display: flex;
      justify-content: space-around;
      margin: 40px auto;
      a.btn-questions {
        text-align: center;
        cursor: pointer;
        width: 280px;
        background-color: #fff;
        color: $main-color;
        font-weight: bold;
        white-space: nowrap;
        padding: 13px 25px;
        border-radius: 25px;
        border: 1px dotted $main-color;
        &:hover {
          transition: .3s ease-out;
          background-color: $bg-gray;
        }
        &--active {
          color: #fff;
          background-color: $main-color;
          pointer-events: none;
        }
      }
    }
    .js-change-content-quest {
      display: none;
      &--active {
        display: block;
      }
      .content {
        @include clearfix();
        .info {
          color: $text-gray;
          width: 48%;
          float: left;
          &:last-child {
            float: right;
          }
          li {
            margin: 15px 0;
          }
          span {
            line-height: 20px;
          }
          .links {
            margin-top: 40px;
            .ab_link {
              margin: 5em 0;
            }
          }
          ul {
            list-style-type: circle;
            li {
              margin: 15px;
            }
          }
        }
      }
      // Для 3-го таба
      &--3 {
        .content {
          h2 {
            color: $main-color;
            margin: 25px 0;
          }
          span {
            color: $text-gray;
            display: inline-block;
            padding: 15px 0;
          }
        }
      }
    }
  }
}

// Табы вопросы и ответы (получение займа)
.js_get-zaym-tab-content {
  display: none;
  &--active {
    display: block;
  }
}
.js_repay-zaym-tab-content {
  display: none;
  &--active {
    display: block;
  }
}

#feedback {
  //margin-top: 90px;
  padding-bottom: 30px;
  background-color: $bg-gray;
  main {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding-top: 25px;
    .info {
      .ico_feedback {
        display: block;
        height: 35px;
        width: 35px;
        background: url(../img/ic_conversation.png) no-repeat;
      }
      .text {
        color: $main-text;
        position: relative;
        bottom: 15px;
        left: 40px;
        h3 {
          font-size: 1.4em;
          margin-bottom: 20px;
        }
        .call-me {
          margin-top: 20px;
          line-height: 25px;
          .phone {
            color: $main-color;
            font-size: 1.6em;
          }
        }
        .to-feedback {
          position: absolute;
          color: #b4b9bf;
          font-size: .8em;
          bottom: 20px;
          left: 295px;
          z-index: 2;
          span {
            white-space: nowrap;
            margin-right: 15px;
          }
        }
      }
    }
    .feedback {
      width: 420px;
      input, #message, a.dropdown {
        background-color: $bg-gray;
        padding: 15px 10px;
        color: $text-gray;
        z-index: 3;
        outline: none;
      }
      #message {
        height: 75px;
        width: 100%;
        resize: none;

      }
      .row {
        margin-bottom: 20px;
        input, a.dropdown {
          width: 200px;
        }
        a.dropdown {
          text-decoration: none;
          color: #b0bac5;
        }
        display: flex;
        justify-content: space-between;
      }
      .ab_button {
        margin-top: 20px;
        background-color: $gray;
        border-bottom: 2px solid darken($gray, 15%);
        color: $text-gray;
        text-shadow: none;
        padding: 15px 35px;
        &:hover {
          transition: .3s ease-out;
          background-color: darken($gray, 5%);
        }
      }
    }
  }
}

footer {
  padding: 20px 0;
  background-color: #2d3a4a;
  img {
    width: 220px;
    height: 20px;
  }
}