.ab_link {
  color: $main-color;
  text-decoration: none;
  border-bottom: 1px dashed $main-color;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
}

.ab_button {
  background: $accent-color;
  border: 0;
  border-bottom: 1px solid #1f7a5d;
  text-shadow: 0 -1px #3879a2;
  padding: 20px 25px;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 3px;
  line-height: 11px;
  white-space: nowrap;
  &:hover {
    background: lighten($accent-color, 10%);
  }
}

.ab_center {
  text-align: center;
  margin: 0 auto;
}

// Блок с отступами
.ab_indent {
  padding: 0px 20px;
}

// Разделитель
.separator {
  margin: 2.5vh auto;
  max-width: 90vw;
  border-top: 1.5px dashed $text-gray;
}

// Ползунок выбора
.js-slider {
  -webkit-appearance: none;
  background-color: $gray;
  background-image: linear-gradient($accent-color, $accent-color);
  background-repeat: no-repeat;
  @include range-track;
  &::-moz-range-track {
    background: transparent;
  }
  &::-moz-focus-outer {
    border: none;
  }
  &:focus {
    outline: none !important;
    border: none;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include range-thumb;
  }
  &::-moz-range-thumb {
    @include range-thumb;
  }
}

// Слайдер
.ab_slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  .arrow {
    cursor: pointer;
    &--right {
      transform: rotateY(180deg);
    }
  }
  .ab_slide:not(.ab_slide--active) {
    display: none;
  }
  .count-slide {
    margin: 2vh auto;
    i.ico-slide {
      display: inline-block;
      font-size: .7em;
      border-radius: 50%;
      background-color: $gray;
      color: #fff;
      width: 10px;
      height: 10px;
      margin: 2px 10px;
      font-style: normal;
      cursor: pointer;
      &--active {
        background-color: $main-color;
      }
    }
  }
}

// Попапы
.popup {
  margin: 10vh auto;
  height: 30%;
  min-height: 160px;
  position: fixed;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 85%;
  box-shadow: 0 0 24px 0 rgba(0,0,0,0.7), 0 0 0 999em rgba(0,0,0,0.5);
  max-width: 460px;
  background-color: #fff;
  input, select {
    &:focus {
      -webkit-appearance: none;
      outline: none;
      border: 1px solid $main-color;
    }
  }
  &--feedback {
    height: 40%;
    padding: 15px 20px;
    min-height: 420px;
    // Обратная связь
    main {
      form {
        display: flex;
        flex-direction: column;
        // Дропдаун
        select {
          //-webkit-appearance: none;
          border: 1px solid #b0bac5;
          z-index: 9999;
          padding: 10px;
          margin: 25px 0;
          background-color: #fff;
          color: #ababab;
          border-radius: 3px;
          font-size: 1em;
        }
        // Текстовые поля
        .js-phone, .js-message {
          margin-bottom: 25px;
          //height: 40px;
          font-size: 1.1em;
          padding: 7px;
        }
        .js-message {
          resize: none;
          min-height: 120px;
          background: #fff;
          color: $main-text;
          border: solid 1px #b0bac5;
          border-radius: 3px;
          font-size: 1em;
        }
        .ab_button {
          background-color: $main-color;
          max-width: 160px;
        }
      }
    }
  }
  .content {
    i.ico-close {
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: 10px;
      width: 10%;
      height: 11%;
      background: url(../img/btn_close.png) no-repeat;
      display: block;
      background-size: 45%;
    }
    h2 {
      font-size: 1em;
    }
  }
  // Выбор способа получения
  &--method {
    padding: 15px 5px;
    main {
      display: flex;
      margin-top: 25px;
      .method {
        cursor: pointer;
        width: 100%;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        border: 2px dotted $gray;
        color: $text-gray;
        img {
          margin-bottom: 10px;
          width: 90%;
        }
        h3 {
          font-size: .9em;
        }
        &--active {
          color: $main-text;
          border: 2px solid $main-color;
        }
      }
    }
  }
}
