.ab_link {
  color: $main-color;
  text-decoration: none;
  border-bottom: 1px dashed $main-color;
}

.ab_button {
  background: #42b28f;
  border: 0;
  border-bottom: 1px solid #1f7a5d;
  text-shadow: 0 -1px #196647;
  padding: 20px 25px;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 -1px #3879a2;
  color: #ffffff;
  cursor: pointer;
  border-radius: 3px;
  line-height: 11px;
  white-space: nowrap;
}

.ab_center {
  text-align: center;
  margin: 0 auto;
}

.separator {
  margin: 5vh 0;
}

.js-slider {
  outline: none !important;
  outline: none;
  padding: 0;
  width: 50%;
  height: 6px;
  background-color: $gray;
  background-image: linear-gradient($accent-color, $accent-color);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 25px;
}