section.about.ab_indent
    h2.ab_center Почему мы?
    main
        nav.ab_center
            a.btn-about.btn-about--active(data-tab='1') Безопасно
            a.btn-about(data-tab='2') Выгодно
            a.btn-about(data-tab='3') Удобно
        .js-change-content.js-change-content--active#aboutTab-1
                p
                    b Zaymigo
                    | - лицензированная организация. Вы защищены законом «О потребительском кредитовании»
                ul
                    li Белая компания. Состоит в государственном&nbsp;
                        a().ab_link реестре МФО
                    li Ваши персональные данные защищены и не попадут в руки третьих лиц.
                    li Вы не передаете на свою платежную информацию.
        .js-change-content#aboutTab-2
            p
                | Процентные ставки в
                b &nbspZaymigo&nbsp
                | значительно ниже рекомендованных Центральным банком РФ.
            ul
                li Ставки от 0,49% в день. Срок до 12 недель.
                li Не получается погасить в срок? Не волнуйтесь! Есть продление.
                li Досрочное погашение без переплаты. Онлайн и в любой день.
        .js-change-content#aboutTab-3
            p
                | Получить займ в
                b &nbspZaymigo&nbsp
                | крайне просто. Заполняете короткую заявку и получаете деньги удобным для вас способом!
            ul
                li Оформление из любой точки России.
                li Доступно с любого устройства: компьютера, телефона или планшета.
                li В любое время дня и ночи. Без праздников и выходных.