section.about
    h2.ab_center Почему мы?
    main
        nav.ab_center
            a.btn-about.btn-about--active() Безопасно
            a.btn-about() Выгодно
            a.btn-about() Удобно
        .js-change-content
            p