header.ab_indent
    .logo
        img(src='img/logo.png', alt='zaymigo')
        a(href='tel: 88007007286') 8 800 700-72-86
    .info-title
        h2
            | Займ
            = ' '
            a.ab_link.js-pay_method() на вашу карту
            i.ico-dropdown
            |  за 10 минут
        span Быстро, просто и без поручителей
    main
        form#loanCalculator.calc(action='#')
    .info.info--header
        ul
            li
                i.sp_info-time
                | Выдаем займы круглые сутки
            li
                i.sp_info-anywhere
                | Работаем по всей россии
            li
                i.sp_info-online
                | Достаточно онлайн заявки
hr.separator