header.ab_indent
    .logo
        img(src='img/logo.png', alt='zaymigo')
        a(href='tel: 88007007286') 8 800 700-72-86
    .info-title
        h2
            | Займ
            = ' '
            a.ab_link.js-pay_method() на вашу карту
            i.ico-dropdown
            |  за 10 минут
        span Быстро, просто и без поручителей
    main
        form#loanCalculator(action='#')
            label(for='sum')
                .calc-title
                    span Сумма займа
                    .af-input.af-input--sum
                        input#focusInpSum.range_field.range_field--sum.js-sum(type='tel', name='sum', value='6000' required)
                        label(for='focusInpSum').js-symb_inp ₽
                input#sum.slider.js-slider.js-slider--sum(type='range', step='100' value='6000' min='1500', max='50000')
                .ab_range-info
                    span 1500 ₽
                    span 50000 ₽
            label(for='period')
                .calc-title.calc-title--period
                    span На срок до
                    .af-input.af-input--period
                        input#focusInpPeriod.range_field.range_field--time.js-period(type='tel', value='6' name='period' required)
                        label(for='focusInpPeriod').js-symb_inp дней
                input#period.slider.js-slider.js-slider--period(type='range', value='12' min='4', max='30')
                .ab_range-info
                    span 4 дня
                    span 30 дней
            .info-zaym
                // Информация о займе
                .info-sum
                    span Занимаете
                    h4.js-out-sum 6000 ₽
                .info-back
                    span Возращаете
                    h4.js-out-sum_back 6600 ₽
            .ab_center
                a.ab_button.js-show_register Получить деньги
    .info.info--header
        ul
            li
                i.sp_info-time
                | Выдаем займы круглые сутки
            li
                i.sp_info-anywhere
                | Работаем по всей россии
            li
                i.sp_info-online
                | Достаточно онлайн заявки
hr.separator