footer
    .ab_indent
        h2 Вопросы и ответы
        section.questions
            .info
                b Как повысить шансы получения займа?
                br
                p Вы сможете поделиться информацией о Zaymigo в социальных сетях. Это увеличит вероятность выдачи займа
                    | 10%.
                br
                p Мы не рассылаем рекламу, и не кому не передаем информацию о вашем профиле.
                // Ссылки
                ul
                    li: a.ab_link(href='#' target='_blank') Как изменить даты погашения и задолжности?
                    li: a.ab_link(href='#' target='_blank') На каких условиях я могу получить деньги?
                    li: a.ab_link(href='#' target='_blank') Что делать, если у меня плохая кредитная история?
                    li: a.ab_link(href='#' target='_blank') Почему мне отказали?
    section.block-feedback
        h3.title
            i.ico-feedback
            | Остались вопросы?
        main.ab_indent
            p Не нашли ответа? Мы готовы ответить на ваши вопросы по телефону с 9:00 до 18:00 ежедневно, кроме выходных
            .feedback
                a.btn_feedbadk
                    img(src='img/ico-mail.png')
                    |Напишите нам
                .call
                    span Или позвоните
                    br
                    a(href='tel: 88003434343').tel
                        | 8 (800) 343-43-43
    section.main-footer
        .head-footer
            img.logo-footer(src='/img/logo-footer.png')
            a.full-version(href='#') Полная версия




script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js')
script(src='js/app.js')