section.how-to-money.ab_indent
    h2.ab_center Как получить деньги
    .ab_slider.ab_center
        .arrow.arrow--left
            img(src='img/arrow-back.png')
        .content-slider.ab_center
            figure.ab_slide.ab_slide--active.ab_slide--1
                .rev-img
                    img(src='img/how-slide-1.png')
                .count-slide
                    i.ico-slide.ico-slide--active.ico-slide--1(data-count='1') 1
                    i.ico-slide.ico-slide--2(data-count='2')
                    i.ico-slide.ico-slide--3(data-count='3')
                span Заполняете небольшую онлайн-заявку.
                br
                a().ab_link.js-show_register Заполнить заявку
            figure.ab_slide.ab_slide--2
                .rev-img
                    img(src='img/how-slide-2.png')
                .count-slide
                    i.ico-slide.ico-slide--1(data-count='1')
                    i.ico-slide.ico-slide--active.ico-slide--2(data-count='2') 2
                    i.ico-slide.ico-slide--3(data-count='3')
                span Получаете решение о выдаче займа в течение 5 минут.
                br
                a().ab_link Как увеличить шансы
            figure.ab_slide.ab_slide--3
                .rev-img
                    img(src='img/how-slide-3.png')
                .count-slide
                    i.ico-slide.ico-slide--1(data-count='1')
                    i.ico-slide.ico-slide--2(data-count='2')
                    i.ico-slide.ico-slide--active.ico-slide--3(data-count='3') 3
                span Получаете деньги удобным способом.
                br
                a().ab_link Способы получения
        .arrow.arrow--right
            img(src='img/arrow-back.png')
hr.separator