section.is-working
    .ab_center
        .info
            h2 Zaymigo работает
            p За сутки мы вадали займы
                span  2300 заемщикам.
                | &nbsp;Вот что пишут некоторые из них:
        .ab_slider.ab_center
            .arrow.arrow--left
                img(src='img/arrow-back.png')
            .content-slider
                figure.ab_slide.ab_slide--active
                    .rev-img
                        img(src='img/avatar.png')
                    .rev-commnet
                        b Евгений Титов
                        br
                        span Очень удобно, занял с первого раза быстро и без проблем. Огромное спасибо
                figure.ab_slide
                    .rev-img
                        img(src='img/avatar-2.png')
                    .rev-commnet
                        b Евгений Титов
                        br
                        span Очень удобно, занял с первого раза быстро и без проблем. Огромное спасибо
                .count-slide
                    i.ico-slide.ico-slide--active
                    i.ico-slide
                    i.ico-slide
                    i.ico-slide
                    i.ico-slide
            .arrow.arrow--right
                img(src='img/arrow-back.png')