// @TODO: Переделать слайдер
section.is-working
    .ab_center
        .info
            h2 Zaymigo работает
            p За сутки мы вадали займы
                span  2300 заемщикам.
                | &nbsp;Вот что пишут некоторые из них:
        .block-slider.ab_indent
            .arrow.arrow--left
                img(src='img/arrow-back.png')
                // Стрелка влево
            .content-slider.ab_center
                figure
                    img.back-img.ab_center(src='img/avatar.png')
                    .ab_center.comment
                            b Евгений Титов
                            br
                            span Очень удобно, занял с первого раза быстро и без проблем. Огромное спасибо
                    .count-slide
                        i.ico-slide.ico-slide--active.ico-slide--1()
                        i.ico-slide.ico-slide--2()
                        i.ico-slide.ico-slide--3()
                        i.ico-slide.ico-slide--4()
                        i.ico-slide.ico-slide--5()
            .arrow.arrow--right
                img(src='img/arrow-back.png')