// Обратная связь
.popup.popup--feedback(style='display: none;')
    .content
        h2.ab_center Обратная связь
        i.ico-close.js-close_popup
        main
            form(action='#')
                select
                    option(selected disabled) Тема обращения
                    option() Проблема 1
                    option() Проблема 2
                    option() Проблема 3
                    option() Проблема 4
                input.js-phone(type='text' required placeholder='Ваш телефон или email *')
                textarea.js-message(required placeholder='Текст сообщения *')
                .ab_center
                    a.ab_button Отправить

// Выбор способа получения
.popup.popup--method(style='display: none;')
    .content
        h2.ab_center Способ получения
        i.ico-close.js-close_popup
        main.ab_center
         .method.method--card.method--active
            img(src='img/visa.png')
            h3.js-text_method на карту
         .method.method--contact
            img(src='img/cash.png')
            h3.js-text_method наличными

// Регистрация
.popup.popup--register(style='display: none')
    .content
        h2.ab_center Регистрация
        i.ico-close.js-close_popup
        form.ab_center(action='#')
            label(for='userPhone') Моб. телефон
            input#userPhone(type='tel' placeholder='Номер телефона' required)
            br
            label(for='userPass') Пароль
            input#userPass(type='password' placeholder='Пароль')
            br
            label(for='userRepeatPass') Повторите пароль
            input#userRepeatPass(type='password' placeholder='Повторите пароль')
            br
            .ab_center
                a.ab_button() Зарегистрироваться
