// Обратная связь
.popup.popup--feedback(style='display: none;')
    .content
        h2.ab_center Обратная связь
        i.ico-close.js-close_popup
        main
            form(action='#')
                select.js-feed-select_theme
                    option(value='Вопрос о работе системы') Вопрос о работе системы
                    option(value='Сообщение о ошибке') Сообщение о ошибке
                    option(value='Предложение о сотрудничестве') Предложение о сотрудничестве
                input.js-feed-email(type='text' required placeholder='email')
                textarea.js-feed-message(required placeholder='Текст сообщения')
                .ab_center
                    a.ab_button.js-btn_feedback.is-disabled Отправить

// Выбор способа получения
.popup.popup--method(style='display: none;')
    .content
        h2.ab_center Способ получения
        i.ico-close.js-close_popup
        main.ab_center
         .method.method--card.method--active
            img(src='img/visa.png')
            h3.js-text_method на карту
         .method.method--contact
            img(src='img/cash.png')
            h3.js-text_method наличными

// Регистрация
.popup.popup--register(style='display: none')
    .content
        h2.ab_center Регистрация
        i.ico-close.js-close_popup
        form.ab_center(action='#')
            label(for='userPhone') Моб. телефон
            input#userPhone(type='tel' placeholder='Номер телефона' required)
            br
            label(for='userPass') Пароль
            input#userPass(type='password' placeholder='Пароль')
            br
            label(for='userRepeatPass') Повторите пароль
            input#userRepeatPass(type='password' placeholder='Повторите пароль')
            br
            .error.js-err-val-phone(style='display: none;')
                span Неверный номер телефона
            .error.js-err-repeat-pass(style='display: none;')
                span Пароли не совпадают
            .error.js-err-val-pass(style='display: none;')
                span Пароль не менее 6 символов
            .ab_center
                a.ab_button.js-btn_register.is-disabled() Зарегистрироваться
