section#about.ab_center
    .block_icons
        div
            i.ico-about.ico-about--1
            span
                | Выдаем займы 24 часа
                br
                | в сутки и без выходных
        div
            i.ico-about.ico-about--2
            span
                | Работаем
                br
                | По всей России
        div
            i.ico-about.ico-about--3
            span
                | Никуда ходить не надо
                br
                | достаточно онлайн заявки
    hr.ab_separator
    .how-money
        h2.ab_center--text Как получить деньги
        .block-slides.ab_center--text
            div
                .slide-img.slide-img--1.ab_center--text
                span
                    | Заполняете небольшую
                    br
                    | онлайн-заяву
                br
                a.js-show_register.ab_link() Заполнить заявку
            div
                .slide-img.slide-img--2.ab_center--text
                span
                    | Получаете решение о выдаче
                    br
                    | займа в течение 5 минут
                br
                a.ab_link() Как увеличить шансы?
            div
                .slide-img.slide-img--3.ab_center--text
                span
                    | Получаете деньги
                    br
                    | удобным способом
                br
                a.ab_link() Способы получения
    hr.ab_separator
    .why-we
        h2.ab_center--text Почему мы
        nav.ab_center
            a.btn-about.btn-about--active(data-tab='1') Безопасно
            a.btn-about(data-tab='2') Выгодно
            a.btn-about(data-tab='3') Удобно
            a.btn-about(data-tab='4') Быстро
        .js-change-content.js-change-content--active#aboutTab-1
            .title.ab_center.ab_center--text
                    b Zaymigo -
                    span &nbsp;лицензированная организация.
                        br
                        | Вы защищены законом «О потребительском кредитовании»
            .main
                .content.content--1
                    span
                        | Белая компания. Состоит в
                        br
                        | государственном реестре МФО
                        br
                        | за номером 2110177000478 от
                        br
                        | 25.10.2013 года;
                    br
                    a.ab_link() Свидетельство МФО
                .content.content--2
                    span
                        | Ваши персональные данные
                        br
                        | защищены протоколами
                        br
                        | безопасности и не попадут в
                        br
                        | руки третьих лиц.
                .content.content--3
                    span
                        | Вы не передаете нам свою
                        br
                        | платежную информацию. Никто
                        br
                        | не сможет воспользоваться
                        br
                        | вашими деньгами.
        .js-change-content#aboutTab-2
            .title.ab_center.ab_center--text
                span Процентные ставки в Zaymigo значительно ниже рекомендованных
                    br
                    | Центральным банком РФ.
            .main
                .content.content--1
                    span
                        | Ставки от 0,49% в день. Срок до 12 недель.
                .content.content--2
                    span
                        | Не получается погасить в срок? Не волнуйтесь!
                        br
                        | Есть продление.
                .content.content--3
                    span
                        | Вы не передаете нам свою
                        br
                        | платежную информацию. Никто
                        br
                        | не сможет воспользоваться
                        br
                        | вашими деньгами.
        .js-change-content#aboutTab-3
            h2 Здесь контент для 3 таба
