.ab_background--gray
    section#bonuses.ab_center--text
        h2.ab_center--text
            | Мы ценим наших заемщиков, и мы подготовили ряд бонусов
            br
            | для тех, кто еще раз обратиться к нам.
        main.ab_center--text
            .row-bonuses
                div
                    i.ico-bonus.ico-bonus--1
                    span
                        | Увеличиваем кредитный лимит
                        br
                        b до 100 000 рублей.
                div
                    i.ico-bonus.ico-bonus--2
                    span
                        b Даем бесплатные займы
                        br
                        | за привлечение друзей
                div
                    i.ico-bonus.ico-bonus--3
                    span
                        | Продлеваем выдачу займа
                        br
                        b со скидкой
            .row-bonuses
                div
                    i.ico-bonus.ico-bonus--4
                    span
                        | Постоянно разыгрываем
                        br
                        b ценные призы
                div
                    i.ico-bonus.ico-bonus--5
                    span
                        | Выдаем займы моментально
                        br
                        b 24/7 на вашу карту