#feedback.ab_center
    main.ab_center
        .info
            i.ico_feedback
            .text
                h3 Остались вопросы?
                span
                    | Не нашли ответа? Мы готовы ответить на ваши вопросы по
                    br
                    | телефону с 9.00 до 18.00 ежедневно, кроме выходных.
                .call-me
                    span Позвоните нам
                    br
                    span.phone 8 (800) 700-72-86
                .to-feedback
                    span Или напишите нам
                    img(src='img/arrow-feedback.png')
        form.feedback#jsFeedback(action='#')
            .row
                a.dropdown(data-jq-dropdown="#jq-dropdown-1") Выберите тему
                #jq-dropdown-1.jq-dropdown.jq-dropdown-tip
                    ul.jq-dropdown-menu
                        li
                            a() Вопрос о работе системы
                        li
                            a() Сообщение о ошибке
                        li
                            a() Предложение о сотрудничестве
                //select.js-dropdown-desktop.js-feed-select_theme
                    option(value='Вопрос о работе системы') Вопрос о работе системы
                    option(value='Сообщение о ошибке') Сообщение о ошибке
                    option(value='Предложение о сотрудничестве')
                input#email.js-feed-email(type='text' data-type='field' name='email' placeholder='Ваша почта')
            textarea#message.js-feed-message(name='message' data-type='field' placeholder='Сообщение')
            .block-err
                span Заполните все поля
            .ab_center--text
                a.ab_button.ab_center--text.js-btn_feedback.is-disabled Отправить

footer.ab_center--text
    .logo
        img(src='img/logo-footer.png')



