#feedback.ab_center
    main.ab_center
        .info
            i.ico_feedback
            .text
                h3 Остались вопросы?
                span
                    | Не нашли ответа? Мы готовы ответить на ваши вопросы по
                    br
                    | телефону с 9.00 до 18.00 ежедневно, кроме выходных.
                .call-me
                    span Позвоните нам
                    br
                    span.phone 8 (800) 700-72-86
                .to-feedback
                    span Или напишите нам
                    img(src='img/arrow-feedback.png')
        form.feedback#jsFeedback(action='#')
            .row
                #dropdown
                    div
                        input(type='checkbox')
                        label Выберите тему
                        section
                            .selection
                                input(type='radio', name='Вопрос о работе системы')
                                label Вопрос о работе системы
                            .selection
                                input(type='radio', name='Сообщение о ошибке')
                                label Сообщение о ошибке
                            .selection
                                input(type='radio', name='Предложение о сотрудничестве')
                                label Предложение о сотрудничестве

                input#email.js-feed-email(type='text' data-type='field' name='email' placeholder='Ваша почта')
            textarea#message.js-feed-message(name='message' data-type='field' placeholder='Сообщение')
            .block-err
                span Заполните все поля
            .ab_center--text
                a.ab_button.ab_center--text.js-btn_feedback.is-disabled Отправить

footer.ab_center--text
    .logo
        img(src='img/logo-footer.png')



