header
    main.ab_width.ab_center
        .title
            img.logo(src='../img/logo.png')
            h1
                | Займ
                = ' '
                a.ab_link.js-pay_method() на вашу карту
                i.ico-dropdown
                br
                |  быстро и просто
            span Оформите заявку, и получите деньги
            br
            span на карту в течение десяти минут.
            .you-loan
                span Займ у вас в
                span.js-loan
            .call
                b Есть вопросы? Звоните!
                br
                span.tel 8 800 787-89-65
        i.ico.ico--calc
        include ./calculator_2