header
    main.ab_width.ab_center
        .title
            img.logo(src='../img/logo.png')
            h1
                | Займ
                = ' '
                a.ab_link.js-pay_method() на вашу карту
                i.ico-dropdown
                br
                |  быстро и просто
            span Оформите заявку, и получите деньги
            br
            | на карту в течение десяти минут.
        .calc
            h2 Калькулятор