section#is-working.ab_center
    .ab_center--text
        h2 Zaymigo работает
        .title
                h2
                | Ежедневно мы выдаем до 500 займов. Половина клиентов
                br
                | обращаются к нам за повторным займом.
    .info
        div
            i.ico_is-working.ico_is-working--1
            .text
                h4 253
                span выдано займов за сутки
        div
            i.ico_is-working.ico_is-working--2
            .text
                h4 2,4
                span млн. рублей выдано на руки
        div
            i.ico_is-working.ico_is-working--3
            .text
                h4 670
                span заявок за последний час
    .comments
        h2.ab_center--text Они уже получили свои деньги
        main
            .row-comment.row-comment-hide
                .comment
                    img(src='/img/avatar3.png')
                    .text
                        b Евгений Титов
                        br
                        span
                            | Очень удобно, после первого раза
                            br
                            | быстро и без проблем. Огромное
                            br
                            | спасибо за простой и быстрый займ.
                .comment
                    img(src='/img/avatar-2.png')
                    .text
                        b Анастасия Круглова
                        br
                        span
                            | Быстро одобрили и перевели деньги.
                            | В течении часа решила проблемы с
                            | просрочками по кредиту.
                .comment
                    img(src='/img/avatar-3.png')
                    .text
                        b Евгения Петрова
                        br
                        span
                            | Взяла займ без проблем, за что
                            br
                            | большое спасибо. Комиссия вышла
                            | минимальной.
            .update-comment.js_update-comment.ab_center--text
                i.ico_update-comments
                span Еще отзывы
            .row-comment.js-row-comment
                .comment
                    img(src='/img/client_1.png')
                    .text
                        b Сергей Макаров
                        br
                        span
                            | Все работает! Все четко и быстро!
                            br
                            | Потратил 5 минут на оформление заявки.
                            | Очень удобно!!!
                .comment
                    img(src='/img/client_2.png')
                    .text
                        b Никита
                        br
                        span
                            | Лишили степендии,а перевод от родителей
                            | задержался. Думал опять на
                            | одних макаронах пельменях и макаронах целую
                            br
                            | неделю жить буду, но сервис выручил и спас
                            br
                            | меня от язвы)
                .comment
                    img(src='/img/client_5.png')
                    .text
                        b Никита
                        br
                        span
                            | Все супер) Зашел с телефона, оставил по-быстрому заявку,
                            br
                            | а через 20 минут деньги уже были на карте.