section#is-working.ab_center
    .ab_center--text
        h2 Zaymigo работает
        .title
                h2
                | Ежедневно мы выдаем до 500 займов. Половина клиентов
                br
                | обращаются к нам за повторным займом.
    .info
        div
            i.ico_is-working.ico_is-working--1
            .text
                h4 253
                span выдано займов за сутки
        div
            i.ico_is-working.ico_is-working--2
            .text
                h4 2,4
                span млн. рублей выдано на руки
        div
            i.ico_is-working.ico_is-working--3
            .text
                h4 670
                span заявок за последний час
    .comments
        h2.ab_center--text Они уже получили свои деньги
        main
            .row-comment
                .comment
                    img(src='/img/avatar3.png')
                    .text
                        b Евгений Титов
                        br
                        span
                            | Очень удобно, после первого раза
                            br
                            | быстро и без проблем. Огромное
                            br
                            | спасибо за простой и быстрый займ.
                .comment
                    img(src='/img/avatar-2.png')
                    .text
                        b Анастасия Круглова
                        br
                        span
                            | Быстро одобрили и перевели деньги.
                            br
                            | В течении часа решила проблемы с
                            br
                            | просрочками по кредиту.
                .comment
                    img(src='/img/avatar-3.png')
                    .text
                        b Евгения Петрова
                        br
                        span
                            | Взяла займ без проблем, за что
                            br
                            | большое спасибо. Комиссия вышла
                            br
                            | минимальной
            .update.js_update-comment.ab_center--text
                i.ico_update-comments
                span Еще отзывы