section#questions.ab_width.ab_center
    h2.ab_center--text Вопросы и ответы
    main
        nav.ab_center
            a.btn-questions.btn-questions--active(data-tab='1') Получение займа
            a.btn-questions(data-tab='2') Погашение займа
            a.btn-questions(data-tab='3') О сервие Zaymigo
        .js-change-content-quest.js-change-content-quest--1.js-change-content-quest--active#QuestTab-1
            .content
                ul.info
                    li
                        a.ab_link.js_tab-quest-get.js_tab-quest-get--active(data-tab='1') Как повысить шансы на получения займа?
                        .js_get-zaym-tab-content.js_get-zaym-tab-content--active.js_get-zaym-tab-content--1#QuestGetZaymTab-1
                            span
                                br
                                | Вы сможете поделиться информацией о Zaymigo
                                br
                                | в социальных сетях. Это увеличит вероятность выдачи займа
                                br
                                | на 10%. Мы не рассылаем рекламу, и никому
                    br
                    li
                        a.ab_link.js_tab-quest-get(data-tab='2')
                            | Как я могу получить займ?
                        .js_get-zaym-tab-content.js_get-zaym-tab-content--2#QuestGetZaymTab-2
                            span
                                br
                                | На именную банковскую карту VISA или MasterCard;
                                br
                                | Наличными в пунктах выдачи системы Contact.
                                br
                    br
                    li
                        a.ab_link.js_tab-quest-get(data-tab='3')
                            | Как быстро я получу деньги?
                        .js_get-zaym-tab-content.js_get-zaym-tab-content--3#QuestGetZaymTab-3
                            span
                                br
                                | Сроки зачисления средств могут варьироваться и зависят от выбранного способа получения.
                            ul
                                li При получении наличными: от 10 до 30 минут;
                                li При переводе на карту: от 10 минут до нескольких часов;
                                li При переводе на счет: от одного до трех рабочих дней.
                ul.info
                    li
                        a.ab_link.js_tab-quest-get(data-tab='4')
                            | Какие документы мне нужны, чтобы забрать деньги
                            br
                            | в пункте выдачи наличными?
                        .js_get-zaym-tab-content.js_get-zaym-tab-content--4#QuestGetZaymTab-4
                            span
                                br
                                | Паспорт и код перевода (отправляется вам в момент выдачи в виде SMS).
                    br
                    li
                        a.ab_link.js_tab-quest-get(data-tab='5') Мою заявку одобрили, но потом пришел отказ. Почему?
                        .js_get-zaym-tab-content.js_get-zaym-tab-content--5#QuestGetZaymTab-5
                            span
                                br
                                | Скорее всего, вы либо указали недостоверные контактные данные, либо нашим операторам не удалось с вами связаться.
                    br
                    li
                        a.ab_link.js_tab-quest-get(data-tab='6')
                            | Как быстро рассмотрят мою заявку?
                        .js_get-zaym-tab-content.js_get-zaym-tab-content--6#QuestGetZaymTab-6
                            span
                                br
                                | Как правило, на рассмотрение заявки уходит всего несколько минут. Тем не менее в некоторых случаях нам может потребоваться больше времени для анализа указанных вами данных. В любом случае мы обязательно с вами свяжемся.
        .js-change-content-quest.js-change-content-quest--2#QuestTab-2
            .content
                ul.info
                    li
                        a.ab_link.js_tab-quest-repay.js_tab-quest-repay--active(data-tab='1') Как и с какой комиссией я могу погасить займ?
                        .js_repay-zaym-tab-content.js_repay-zaym-tab-content--active.js_repay-zaym-tab-content--1#QuestRepayZaymTab-1
                            span
                                br
                                | Погасить займ вы можете следующими способами:
                            ul
                                li Карты VISA и Mastercard - 1.6%;
                                li Отделения и терминалы Связной - 1%;
                                li Терминалы и офисы обслуживания Контакт - 1%;
                                li Банковский перевод - по тарифам вашего банка;
                                li QIWI - без комиссии (в процессе разработки).
                    br
                    li
                        a.ab_link.js_tab-quest-repay(data-tab='2')
                            | Можно ли частично гасить займ досрочно?
                        .js_repay-zaym-tab-content.js_repay-zaym-tab-content--2#QuestRepayZaymTab-2
                            span
                                br
                                | Да. Комиссии за досрочное частичное погашение отсутствуют. Последующие платежи будут меньше.
                    br
                    li
                        a.ab_link.js_tab-quest-repay(data-tab='3')
                            | Если я не успеваю погасить займ в назначенный срок?
                        .js_repay-zaym-tab-content.js_repay-zaym-tab-content--3#QuestRepayZaymTab-3
                            span
                                br
                                | Если вы не успеваете в назначенный срок погасить полную сумму займа, настоятельно рекомендуем вам воспользоваться услугой продления в Личном Кабинете на сайте Zaymigo. Это просто и гораздо дешевле штрафов.
                ul.info
                    li
                        a.ab_link.js_tab-quest-repay(data-tab='4')
                            | Я внёс платёж, но деньги не дошли.
                        .js_repay-zaym-tab-content.js_repay-zaym-tab-content--4#QuestRepayZaymTab-4
                            span
                                br
                                | В этом случае необходимо отправить на почту
                                a.ab_link(href='mailto:support@zaymigo.com') &nbsp;support@zaymigo.com&nbsp;
                                | ваши ФИО и фото/скан вашего чека на оплату. После
                                | рассмотрения проблемы наши специалисты обязательно с вами свяжутся и помогут разобраться в сложившейся ситуации.
                    br
                    li
                        a.ab_link.js_tab-quest-repay(data-tab='5') Мою заявку одобрили, но потом пришел отказ. Почему?
                        .js_repay-zaym-tab-content.js_repay-zaym-tab-content--5#QuestRepayZaymTab-5
                            span
                                br
                                | Скорее всего, вы либо указали недостоверные контактные данные, либо нашим операторам не удалось с вами связаться.
                    br
                    li
                        a.ab_link.js_tab-quest-repay(data-tab='6')
                            | В Личном Кабинете не получается произвести платеж
                            br
                            |по займу с помощью карты. В чем может быть причина?
                        .js_repay-zaym-tab-content.js_repay-zaym-tab-content--6#QuestRepayZaymTab-6
                            span
                                br
                                | В данном случае рекомендуем вам в первую очередь очистить кэш вашего браузера, воспользовавшись комбинацией клавиш CTRL + F5.
                                | После этого следует повторить попытку оплаты. Если проблема не исчезнет, обратитесь на телефон нашей горячей линии 8 800 700-72-86
        .js-change-content-quest.js-change-content-quest--3#QuestTab-3
            .content
                h2 Zaymigo - займите быстро
                span
                    b Zaymigo -
                    = ' '
                    | инновационная микрофинансовая организация нового поколения, претендующая на звание лидера на рынке российского потребительского микрокредитования и акцентирующая свое внимание на удобстве заемщиков и скорости выдачи кредитов.
                br
                span
                    b Zaymigo
                    = ' '
                    | в любое время суток окажет вам срочную финансовую помощь и предоставит вам микрозайм, невзирая на ваш уровень дохода или его отсутствие. Нет нужды выходить из дома - вся процедура оформления займа происходит в онлайне, занимает пару минут и требует от вас только паспорт. После практически мгновенного решения срочные деньги поступают на ваш банковский счет или карту в течение всего нескольких часов.