section#questions.ab_width.ab_center
    h2.ab_center--text Вопросы и ответы
    main
        nav.ab_center
            a.btn-questions.btn-questions--active(data-tab='1') Получение займа
            a.btn-questions(data-tab='2') Погашение займа
            a.btn-questions(data-tab='3') О сервие Zaymigo
        .js-change-content-quest.js-change-content-quest--1.js-change-content-quest--active#QuestTab-1
            .content
                ul.info
                    li
                        a.ab_link.js_tab-quest-get.js_tab-quest-get--active(data-tab='1') Как повысить шансы на получения займа?
                        .js_get-zaym-tab-content.js_get-zaym-tab-content--active.js_get-zaym-tab-content--1#QuestGetZaymTab-1
                            span
                                br
                                | Вы сможете поделиться информацией о Zaymigo
                                br
                                | в социальных сетях. Это увеличит вероятность выдачи займа
                                br
                                | на 10%. Мы не рассылаем рекламу, и никому
                    br
                    li
                        a.ab_link.js_tab-quest-get(data-tab='2')
                            | Я хочу изменить даты погашения задолженности,
                            br
                            | как это сделать?
                        .js_get-zaym-tab-content.js_get-zaym-tab-content--2#QuestGetZaymTab-2
                            span
                                br
                                | Вы сможете поделиться информацией о Zaymigo
                                br
                                | в социальных сетях. Это увеличит вероятность выдачи займа
                                br
                                | на 10%. Мы не рассылаем рекламу, и никому
                    br
                    li
                        a.ab_link.js_tab-quest-get(data-tab='3')
                            | Почему вы предлагаете мне меньшую сумму, чем
                            br
                            | в прошлый раз?
                        .js_get-zaym-tab-content.js_get-zaym-tab-content--3#QuestGetZaymTab-3
                            span
                                br
                                | Вы сможете поделиться информацией о Zaymigo
                                br
                                | в социальных сетях. Это увеличит вероятность выдачи займа
                                br
                                | на 10%. Мы не рассылаем рекламу, и никому
                ul.info
                    li
                        a.ab_link.js_tab-quest-get(data-tab='4')
                            | Раньше я брал и успешно погашал кредиты,
                            br
                            | почему мне отказали?
                        .js_get-zaym-tab-content.js_get-zaym-tab-content--4#QuestGetZaymTab-4
                            span
                                br
                                | Вы сможете поделиться информацией о Zaymigo
                                br
                                | в социальных сетях. Это увеличит вероятность выдачи займа
                                br
                                | на 10%. Мы не рассылаем рекламу, и никому
                    br
                    li
                        a.ab_link.js_tab-quest-get(data-tab='5') На каких условиях я могу получить деньги?
                        .js_get-zaym-tab-content.js_get-zaym-tab-content--5#QuestGetZaymTab-5
                            span
                                br
                                | Вы сможете поделиться информацией о Zaymigo
                                br
                                | в социальных сетях. Это увеличит вероятность выдачи займа
                                br
                                | на 10%. Мы не рассылаем рекламу, и никому
                    br
                    li
                        a.ab_link.js_tab-quest-get(data-tab='6')
                            | Что делать, если у меня плохая кредитная
                            br
                            | история
                        .js_get-zaym-tab-content.js_get-zaym-tab-content--6#QuestGetZaymTab-6
                            span
                                br
                                | Вы сможете поделиться информацией о Zaymigo
                                br
                                | в социальных сетях. Это увеличит вероятность выдачи займа
                                br
                                | на 10%. Мы не рассылаем рекламу, и никому
                    br
                    li
                        a.ab_link.js_tab-quest-get(data-tab='7')
                            | С каким бюро кредитных историй Вы
                            br
                            | сотрудничаете?
                        .js_get-zaym-tab-content.js_get-zaym-tab-content--7#QuestGetZaymTab-7
                            span
                                br
                                | Вы сможете поделиться информацией о Zaymigo
                                br
                                | в социальных сетях. Это увеличит вероятность выдачи займа
                                br
                                | на 10%. Мы не рассылаем рекламу, и никому
        .js-change-content-quest.js-change-content-quest--2#QuestTab-2
            .content
                h2 2 таб
        .js-change-content-quest.js-change-content-quest--3#QuestTab-3
            .content
                h2 Zaymigo - займите быстро
                span
                    b Zaymigo -
                    = ' '
                    | инновационная микрофинансовая организация нового поколения, претендующая на звание лидера на рынке российского потребительского микрокредитования и акцентирующая свое внимание на удобстве заемщиков и скорости выдачи кредитов.
                br
                span
                    b Zaymigo
                    = ' '
                    | в любое время суток окажет вам срочную финансовую помощь и предоставит вам микрозайм, невзирая на ваш уровень дохода или его отсутствие. Нет нужды выходить из дома - вся процедура оформления займа происходит в онлайне, занимает пару минут и требует от вас только паспорт. После практически мгновенного решения срочные деньги поступают на ваш банковский счет или карту в течение всего нескольких часов.