section#questions.ab_width.ab_center
    h2.ab_center--text Вопросы и ответы
    main
        nav.ab_center
            a.btn-questions.btn-questions--active(data-tab='1') Получение займа
            a.btn-questions(data-tab='2') Погашение займа
            a.btn-questions(data-tab='3') О сервие Zaymigo
        .js-change-content-quest.js-change-content-quest--active#aboutTab-1
            ul.info
                b Как повысить шансы на получения займа?
                br
                li: span
                    | Вы сможете поделиться информацией о Zaymigo
                    br
                    | в социальных сетях. Это увеличит вероятность выдачи займа
                    br
                    | на 10%. Мы не рассылаем рекламу, и никому
                br
                li: a.ab_link()
                    | Я хочу изменить даты погашения задолженности,
                    br
                    | как это сделать?
                br
                li: a.ab_link()
                    | Почему вы предлагаете мне меньшую сумму, чем
                    br
                    | в прошлый раз?
        .js-change-content-quest#aboutTab-2
            h2 Здесь контент для 2 таба
        .js-change-content-quest#aboutTab-3
            h2 Здесь контент для 3 таба