section#you-get.ab_center
    h2.ab_center--text Получите и вы
    //form.calc.ab_center
        main
            label(for='sum2')
                .calc-title
                    span Сумма займа
                    .af-input.af-input--sum
                        input#focusInpSum2.range_field.range_field--sum.js-sum(type='tel', name='sum', value='6000'
                        required)
                        label(for='focusInpSum2').js-symb_inp ₽
                input#sum2.slider.js-slider.js-slider--sum(type='range', step='100' value='6000' min='1500',
                max='50000')
                .ab_range-info
                    span 1500 ₽
                    span 50000 ₽
            label(for='period2')
                .calc-title.calc-title--period
                    span На срок до
                    .af-input.af-input--period
                        input#focusInpPeriod2.range_field.range_field--time.js-period(type='tel', value='12'
                        name='period' required)
                        label(for='focusInpPeriod2').js-symb_inp дней
                input#period2.slider.js-slider.js-slider--period(type='range', value='12' min='8', max='30')
                .ab_range-info.js-range_info-period
                    span 8 дней
                    span 30 дней
        hr.ab_separator
        .ab_center--text
            .ab_button.js-show_register Получить деньги